# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Node-RED
node_modules/

# MongoDB
data/db/

# VS Code
.vscode/

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Wokwi
*.wokwi-user.json
# Reports & videos
*.pdf
*.mp4   